.contain {
    height: 550px;
  width: 700px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: #D4AC0D;
  }
.content
{
    display: flex;
    flex : auto auto;
    border: 2px solid black;
    background-color: #D7DBDD;
}
.right_half
{
    padding: 20px;
    flex: 60%;
}
.left_half
{
    padding: 20px;
  flex: 40%;
}
@media (max-width: 800px) {
    .right_half, .left_half {
      flex: 100%;
    }
}
input
{
    width: 50%;
    outline: none;
    margin: 5px;
}
